.button {
    margin-left: 1em;
    margin-right: 1em;
}

.form-container {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 2em;
}

.invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.flat-form-label {
    font-weight: bold;
    margin-bottom: 0;
}